<!doctype html>
<html lang="es" ng-app="Demo">
   <head>
      <base href="../" />
      <meta charset="utf-8" />
      <title>test</title>
  	  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
      <link rel="stylesheet" href="https://unpkg.com/angular-material@^1.1.4/angular-material.min.css" />
      <link rel="stylesheet" href="https://unpkg.com/angular-material-icons@^0.7.1/angular-material-icons.css" />
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
      <link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism.css" />
      <link rel="stylesheet" href="source/angular-material-badge.css" />
      <link rel="stylesheet" href="demo/demo.css" />
   </head>
   <body ng-controller="Demo" md-theme="{{theme}}" md-theme-watch ng-cloak>
      <h1>AngularJS Material Badge online Demo</h1>
      <div layout="row">
         <md-input-container>
            <label>Value</label>
            <input ng-model="value" />
         </md-input-container>
         <md-input-container>
            <label>Theme</label>
            <md-select ng-model="theme">
               <md-option ng-repeat="theme in themes" ng-value="theme.name">{{theme.description}}</md-option>
            </md-select>
         </md-input-container>
         <md-input-container>
            <md-checkbox ng-model="show">Show</md-checkbox>
         </md-input-container>
      </div>
      <div layout="row">
         <div class="test">
            <md-button class="md-raised md-primary" aria-label="Badge demo" md-badge="{{value}}" md-badge-fill="blue" ng-if="show">
               Badge demo
            </md-button>
            <md-button class="md-fab md-primary" md-badge="{{value}}" md-badge-offset="5" aria-label="Badge demo">
               <ng-md-icon icon="shopping_cart"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" md-badge="{{value}}" md-badge-fill="yellow" md-badge-color="black" md-badge-offset="3" aria-label="Badge demo">
               <ng-md-icon icon="email"></ng-md-icon>
            </md-button>
            <ng-md-icon md-badge="{{value}}" md-badge-fill="red" icon="notifications"></ng-md-icon>
            &nbsp;
            <ng-md-icon md-badge="{{value}}" md-badge-fill=":{{theme}}-primary-700" icon="chat"></ng-md-icon>
            <md-badge ng-if="value" md-colors="::{background: '{{theme}}-primary-700'}" style="margin: 20px">{{value}}</md-badge>
         </div>
      </div>
      <md-card layout="row" md-badge="{{value}}" md-badge-fill=":{{theme}}-primary" ng-if="show">
         <md-card-content>
            Badge Demo
         </md-card-content>
      </md-card>
      <marked src="'README.md'"></marked>
      <script src="https://unpkg.com/angular@^1.6.5/angular.min.js"></script>
      <script src="https://unpkg.com/angular-aria@^1.6.5/angular-aria.min.js"></script>
      <script src="https://unpkg.com/angular-animate@^1.6.5/angular-animate.min.js"></script>
      <script src="https://unpkg.com/angular-material@^1.1.4/angular-material.min.js"></script>
      <script src="https://unpkg.com/angular-material-icons@^0.7.1/angular-material-icons.min.js"></script>
      <script src="https://unpkg.com/prismjs/prism.js" data-manual></script>
      <script src="https://unpkg.com/prismjs/components/prism-javascript.min.js"></script>
      <script src="https://unpkg.com/prismjs/components/prism-markup.min.js"></script>
      <script src="https://unpkg.com/prismjs/components/prism-bash.min.js"></script>
      <script src="https://unpkg.com/marked/lib/marked.js"></script>
      <script src="https://unpkg.com/angular-marked/dist/angular-marked.min.js"></script>
      <script src="source/angular-material-badge.js"></script>
      <script src="demo/demo.js"></script>
   </body>
</html>
